*{
    font-family: poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    padding: 35px 12px;
    z-index: 100;
    backdrop-filter: blur(10px);
} 

.logo{
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.logo:hover {
    color:rgb(180, 120, 120);
    text-shadow:0 0 50px rgb(180, 120, 120),  
                0 0 50px rgb(180, 120, 120);
}

span {
    color:rgb(180, 120, 120);
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.nav-bar a:hover {
    color:rgb(228, 23, 23);
    border-bottom:3px solid rgb(4, 4, 4);
}

button {
    background-color:cadetblue;
    border: 2px solid #060606;
    color: rgb(222, 215, 215);
    border-radius: 10px;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
   
}

button:hover {
    background-color: lightcoral;
    color: black;
}



