*{
    font-family: poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    padding: 35px 12px;
    z-index: 100;
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
} 

.logo{
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.logo:hover {
    color:rgb(180, 120, 120);
    text-shadow:0 0 50px rgb(180, 120, 120),  
                0 0 50px rgb(180, 120, 120);
}

.span-logo {
    color:rgb(180, 120, 120);
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.nav-bar a:hover {
    color:rgb(228, 23, 23);
    border-bottom:3px solid rgb(4, 4, 4);
}

button {
    background-color:cadetblue;
    border: 2px solid #060606;
    color: rgb(222, 215, 215);
    border-radius: 10px;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
   
}

button:hover {
    background-color: lightcoral;
    color: black;
}

.home {
    width:100%;
    min-height: 100vh;
    background-color: rgb(241,241,241);
    display: flex;
    align-items: flex-start;
    gap: 2em;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 12% 0;
    
}

.home-content {
    max-width: 800px;
}

.home-content h3 {
    font-size: 25px;
    margin-top: 100px;
}

.span-home-content {
color: orange;
}

.home-content h1 {
    font-size: 30px;
    line-height: 1.2;
    margin-top: -25px;
}

.home-content p {
    font-size: 18px;
    margin:25px 0 30px;
 
}

.btn-box {
    display: flex;
    width: 345px;
    display: flex;
    gap: em;
}

.btn-1 {
    background-color: black;
    padding: 10px 20px;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    transition:0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2 {
    background-color: orangered;
    padding: 10px 20px;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    transition:0.3s ease;
    cursor: pointer;
}


.btn-2:hover{
    background-color: white;
    color: orangered;
    border: 2px solid black;
}

.btn-3 {
    background-color: black;
    padding: 15px 28px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    transition:0.3s ease;
    cursor: pointer;
}

.btn-3:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}


.image-box img{
    width: 300px;
    border-radius: 50%;
    margin-top: 250px;
}

.form-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241,241,241);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.contact-form {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form {
    max-width:50em;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form form .input-box input, 
.contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size:18px;
    color: black;
    background-color: rgb(241,241,241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize:none;

}