
/* GLOBAL STYLES */ 
/* It resets the browser setting so the web page behave thesame on all browsers
and applies the styles to the entire web page*/
*{
    font-family: poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; /* add up padding and border inclusive to the weight and height*/
}

/* to enabble the page flush completely to the top and left cos though we used the universal selector
some browsers still give the <body> tag a small default margin (usually 8px)*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /*ensures the <html> and <body> stretch across the entire width of the browser window just so caculations are accurate, especially when working with 100%-width sections or background colors.*/
    overflow-x: hidden; /* prevents horizontal scroll from small overflow */
}

.logo span, .intro-span, .intro-content-span {
    color: red;
    transition: 0.3s ease;
}

/* HEADER */
/* turns this header to a flex box contatiner which makes it super easy to line up things next to each other (horizontally-row or vertically-column) and control their spacing.*/
.header {
    display: flex;
    justify-content: space-between; /* left, center, right */
    align-items: center;
    width: 100%;
    padding: 20px 5%;
    background-color: #555;
    position: sticky; /*Stick it to the top while scrolling*/
}
 
/* Logo */
.header-left .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;/* animation last for 3secs and should not be fast*/
}

/* → horizontal offset (no left or right shift)
→ vertical offset (no up or down shift)
50px → blur size (how soft and glowing the shadow looks
You repeated it twice it makes the glow look stronger and brighter, because two identical shadows overlap.*/
.logo:hover {
    color:orangered;
    text-shadow:0 0 50px orangered,  
                0 0 50px orangered;
}

/* Nav Links */
.nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap; /* allows wrapping if too wide */
}

.nav-bar a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.nav-bar a:hover {
    color:orangered;
}

/* Header Button */
.header-right .button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    line-height: 1.2;
}

.header .button:hover  {
    background-color: orangered;
    color: black;
}

/* Intro SECTION */
.intro-section {
    width: 100%;
    padding: 50px 5%;  /* 50px top/ bottom fixed, 5% left and right responsive  to shrinks*/
    background-color: white;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 2em;
}

.intro-section h2 {
    font-size: 48px;   /* You can adjust this number as needed */
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;  
}

.intro-section h3 {
    font-size: 24px;
    margin: 10px 0;
}

.intro-section h1 {
    font-size: 36px;
    margin: 10px 0 20px;
    line-height: 1.2;
}


.about-span {
    color: orangered;
}

.intro-section p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: justify;
}

.about .btn-1:hover  {
    background-color: white;
    color: orangered;
}
.intro-image-box img{
    max-width: 80%;
    border-radius: 50%;
    margin-top: 100px;
}


/* Reuse existing button styles */
.intro-section .btn-1 {
    margin-top: 20px;
    display: inline-block;
}

/* ABOUT SECTION */
.about-container {
    width: 100vw; /* It doesn’t matter what container the element is in — it stretches across the whole screen width. */
    padding: 0;
    background-color: black;  
}

.about {
    width: 100%;
    min-height: 100vh; /* min-height: 100vh; → make this element at least as tall as the screen, but allow it to grow taller if needed.*/
    display: flex;
    align-items: flex-start;
    gap: 2em;
    justify-content: space-between;
    padding: 30px 5% 0 5%; 
    background-color: black;
    
}

.about-content h2 {
    color: white;
    font-size: 48px;   
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;  
}

.about-content p {
    text-align: justify;
    color: white;
}

.btn-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.btn-1 {
    background-color:orangered;
    padding: 10px 20px;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    width: 150px;
    height: 45px;
}

.btn-2 {
    background-color: black;
    padding: 10px 20px;
    color: orangered;
    border: 2px solid transparent;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    width: 150px;
    height: 45px;
    margin-top: 10px;
}

.btn-1:hover, .btn-2:hover {
    background-color: orangered;
    color: white;
    border: 2px solid orangered;
}

.about-image-box img{
    max-width: 80%;
    border-radius: 50%;
    margin-top: 100px;
}

/* CONTACT FORM */
.form-container {
    width: 100%;
    padding: 30px 5%;
    background-color:white;
    text-align: center;
}


.contact-form form {
    width: 100%;
    max-width: 80%; /*the element won’t get wider than 800 pixels, no matter how big the screen is.*/
    margin: 0 auto;
}

.contact-form h2 {
    text-align: center;     
    padding-left: 5%;       
    margin-bottom: 20px;   
    font-size: 48px;        
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%; 
    padding: 15px;
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
}

.contact-form input[type="submit"]:hover {
    background-color: orangered;
    color: white;
    border: 2px solid orangered;
}

/* TABLE SECTION */
.table-container {
    width: 100%;
    padding: 30px 5%; 
    background-color: white;
    text-align: center;
}

.table-container h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.table-container .subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
}

.portfolio-table {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

.portfolio-table table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.portfolio-table th,
.portfolio-table td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}

/* FOOTER SECTION */
.footer {
    position: relative;
    width: 100vw;
    background-color: #555;
    padding: 30px 5%;
    text-align: center;
}

/*Position Type	What Happens
static (default)	Normal flow, no offsets
relative	Normal flow + can shift with top/right/bottom/left
absolute	Removed from flow, positioned relative to nearest positioned ancestor
fixed	Stays in place relative to viewport
sticky	Sticks to a position when scrolling*/
.footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 10px;
}

.footer .social a {
    font-size: 24px;
    color: white;
    height: 40px;
    line-height: 36px;
    display: inline-block; /*Sit next to other elements like inline, but let me set width, height, and padding like a block.”*/
    text-align: center;
    margin: 0 8px;
    transition: 0.3s ease;
}

.footer .social a:hover{
    box-shadow: inset 0 40px 0 0 orangered, 
                0 0 10px orangered;
    color: black;
    border: 2px solid orangered;
}

.footer ul {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer ul li a {
    color: white;
}

.footer ul li a:hover {
    color: orangered;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 12px;
}




