*{
    font-family: poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    padding: 35px 12px;
    z-index: 100;
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
} 

.logo{
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.logo:hover {
    color:rgb(180, 120, 120);
    text-shadow:0 0 50px rgb(180, 120, 120),  
                0 0 50px rgb(180, 120, 120);
}

.span-logo {
    color:rgb(180, 120, 120);
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}

.nav-bar a:hover {
    color:rgb(228, 23, 23);
    border-bottom:3px solid rgb(4, 4, 4);
}

button {
    background-color:cadetblue;
    border: 2px solid #060606;
    color: rgb(222, 215, 215);
    border-radius: 10px;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
   
}

button:hover {
    background-color: lightcoral;
    color: black;
}

.home {
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    background-color: rgb(241,241,241);
    padding: 30px 10px;
    
}

.home-content {
    flex: 1;
    max-width: 60%;
}

.home-content h3 {
    font-size: 25px;
    margin-top: 120px;
    margin-bottom: 0px;
}

.span-home-content {
color: orange;
}

.home-content h1 {
    font-size: 30px;
    line-height: 1;
}

.home-content p {
    font-size: 18px;
    margin:25px 0 30px;
 
}

.btn-box {
    display: flex;
    width: 300px;
    display: flex;
    gap: 15px;
}

.btn-1 {
    background-color: black;
    padding: 15px 28px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    transition:0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2, .btn-3 {
    background-color: orange;
    padding: 15px 28px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    transition:0.3s ease;
    cursor: pointer;
}


.btn-2:hover{
    background-color: white;
    color: orange;
    border: 2px solid black;
}

.btn-3 {
    background-color: black;
    padding: 15px 28px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    transition:0.3s ease;
    cursor: pointer;
}

.btn-3:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.home-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    flex-shrink: 0;
}